APP_NAME=SQLab
APP_ENV=production
APP_BASE_PATH=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sqlab
DB_CHARSET=utf8mb4
DB_USER=root
DB_PASS=
DB_SANDBOX_HOST=localhost
DB_SANDBOX_USER=sqlab_sandbox
DB_SANDBOX_PASS=SandboxPass!99
